[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httplib2 = "*"
pyqt5 = "*"
google-api-python-client = "*"
oauth2client = "*"
python-dateutil = "*"
openpyxl = "==3.0.9"

[dev-packages]

[requires]
python_version = "3.8"
